services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        REACT_APP_NAVER_CLIENT_ID: ${REACT_APP_NAVER_CLIENT_ID:-}
        REACT_APP_API_URL: ${REACT_APP_API_URL:-}
    ports:
      - "80:80"
    restart: unless-stopped
    container_name: jbnu-coe-web

